@import "vars";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

:host {
  position: relative;
}

#heroWrapper {
  background-image: url("/assets/images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100vw;

  &::before,
  &::after {
    content: "";
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-blend-mode: multiply;
    z-index: 0;
    animation: animClouds 20s linear infinite;
  }

  &::before {
    background-image: url("/assets/images/smoke1.png");
    z-index: 3;
  }

  &::after {
    background-image: url("/assets/images/smoke2.png");
    animation-name: animCloudsReverse;
    z-index: 4;
  }

  & > div {
    z-index: 10;
  }
}

#heroBack {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  z-index: 5;

  .bgImage {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
  }
}

#heroInner {

  & * {
    z-index: 25;
  }

  & > div:first-child {
    margin-bottom: 20vh;

    @include media-breakpoint-up(sm) {
      margin-bottom: 2rem;
    }
  }
}

#heroFighters {
  position: absolute;
  top: 40vh;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 7;

  .fighterImage {
    position: absolute;
    width: 53vw;
    height: 60vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
    animation: animFighter 1s linear;

    &:nth-child(2) {
      animation-direction: reverse;
    }
  }
}

.sepVs {
  font-size: 0.25em;
  line-height: 5em;
  transform: scale(1, 1.5) rotate(270deg);
}

.sepOr {
  line-height: 4em;
  font-size: 3.6vw;

  @include media-breakpoint-up(sm) {
    font-size: 1.2rem;
  }
}

h1 {
  font-size: 17vw;
  margin-bottom: 0;

  @include media-breakpoint-up(sm) {
    font-size: 6.8rem;
    margin-bottom: -1rem;
  }
}

h2 {
  font-size: 9vw;
  background: linear-gradient(to right, rgb(206, 178, 140) 0%, rgb(228, 207, 168) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;

  @include media-breakpoint-up(sm) {
    font-size: 4rem;
  }
}

.eventInfo {
  font-size: 3vw;

  @include media-breakpoint-up(sm) {
    font-size: 1rem;
  }
}

button {
  border-radius: 0;
  font-size: 3.6vw;

  @include media-breakpoint-up(sm) {
    font-size: 1.2rem;
  }
}

#shadowBottom {
  position: absolute;
  background-size: cover;
  background-position: center bottom;
  width: 100vw;
  height: 100vh;
  z-index: 8;
  background-image: url("/assets/images/shadow-bottom.png");
  background-repeat: repeat-x;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@keyframes animClouds {

  0% {
    background-position: 0 0;
  }

  50% {
    background-position: -250px 0;
  }

  100% {
    background-position: 0 0;
  }
}

@keyframes animCloudsReverse {

  0% {
    background-position: -250px 0;
  }

  50% {
    background-position: 0 0;
  }

  100% {
    background-position: -250px 0;
  }
}


@keyframes animFighter {

  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}
